%li
  %a{href: collection_product_url(@collection, product)}
    - if product.images.any?
      %img{src: product.images.first.url(230, 230, 'fill')}
    - unless product.manufacturer.blank?
      .manufacturer= product.manufacturer
    .name= product.name
    .price= number_to_currency(product.variants.first.price.amount)
