%li
  %a{href: product_url(product)}
    %img{src: product.images.first.url(230, 230, 'fill')}
    - unless product.manufacturer.blank?
      .manufacturer= product.manufacturer
    .name= product.name
    .price= number_to_currency(product.variants.first.price.amount)
