%li
  %a{href: product_url(product)}
    - if product.images.any?
      %img{src: product.images.first.url(220, 220, 'fill')}
    - unless product.manufacturer.blank?
      .manufacturer= product.manufacturer
    .name= product.name
    .price= number_to_currency(product.variants.first.price.amount)
